@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 255, 255, 255; */
  background-color: rgb(245, 246, 250);
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  /* background-color: red; */
  width: 100%;
}

html,body {
  @apply w-full
}

@media (prefers-color-scheme: system) {
  :root {
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  display:none;
}